[submodule "dicta-shared"]
	path = dicta-shared
	url = https://github.com/ShlomoBluth/dicta-shared.git
[submodule ".github/workflows"]
	path = .github/workflows
	url = https://github.com/ShlomoBluth/workflows.git
